{% extends 'base.html' %}

{% block title %}
{{super()}}
<title>Profile</title>
<!-- mbootstrap links -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/css/mdb.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if user.profile_pic_path %}
            <img src="{{url_for('static', filename=user.profile_pic_path)}}" alt="" class="rounded-circle z-depth-2"
                data-holder-rendered="true" height="150px" width="150px">
            {% else %}
            <img src="https://previews.123rf.com/images/panyamail/panyamail1809/panyamail180900343/109879063-user-avatar-icon-sign-profile-symbol.jpg"
                class="rounded-circle z-depth-2" data-holder-rendered="true" height="150px" width="150px">
            {% endif %}
            <br>
            {{user.username}} - {{user.role}}
            <br>
            {% if user.profile_pic_path %}
            <img src="{{url_for('user.profile_pic_path')}}">
            {% endif %}
            <br>
            {% if user.bio %}
            {{user.bio}}
            {% else %}
            No bio present
            {% endif %}
            {% if user == current_user %}
            <div>
                <a href="{{url_for('main.update_profile', uname = current_user.username)}}">Edit profile</a>
            </div>
            {% endif %}
        </div>
        <div class="col-md-6"></div>
    </div>
</div>

<!-- mdbootstrap -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/js/mdb.min.js"></script>
{% endblock %}