{% extends 'base.html' %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if user.profile_pic_path %}
            <img src="{{url_for('static', filename=user.profile_pic_path)}}" alt="" class="rounded-circle z-depth-2"
                data-holder-rendered="true" height="150px" width="150px">
            {% else %}
            <img src="https://previews.123rf.com/images/panyamail/panyamail1809/panyamail180900343/109879063-user-avatar-icon-sign-profile-symbol.jpg"
                class="rounded-circle z-depth-2" data-holder-rendered="true" height="150px" width="150px">
            {% endif %}
            <br>
            {{user.username}} - {{user.role}}
            <br>
            {% if user.profile_pic_path %}
            <img src="{{url_for('user.profile_pic_path')}}">
            {% endif %}
            <br>
            {% if user.bio %}
            {{user.bio}}
            {% else %}
            No bio present
            {% endif %}
            {% if user == current_user %}
            <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            <div>
                <a href="{{url_for('main.update_profile', uname = current_user.username)}}">Edit profile</a>
            </div>
            <br><br>
            <div class="row">
                <form action="{{url_for('main.update_picture',uname = user.username)}}" method="post"
                    enctype="multipart/form-data" class="container row">
                    <div class="btn btn-outline-primary btn-rounded waves-effect" class="col-md-4">
                        <span>Upload Profile Photo<i class="fas fa-cloud-upload-alt ml-3" aria-hidden="true"></i></span>
                        <input type="file" name="photo" class='btn btn-primary' required>
                    </div>
                    <div class="file-path-wrapper col-md-4">
                        <input type="submit" class="btn btn-outline-primary" value="Upload">
                    </div>
                </form>
            </div>
            {% endif %}
            <br>
            {{macro.displayLatest(posts)}}
        </div>
    </div>

    {% endblock %}