{% extends 'base.html' %}

{% block title %}
{{super()}}
<title>Post</title>
{{ moment.include_moment() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <br>
            <div class="container-fluid">
                <div class="container">
                    <div class="col-md-12">
                        {% if post.post_pic_path %}
                        <img src="{{url_for('static', filename=post.post_pic_path)}}" width="500px" height="500px">
                        {% else %}
                        <img
                            src="https://images.pexels.com/photos/733856/pexels-photo-733856.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                        {% endif %}
                        <br>
                        <h5 class="card-title">{{post.title}}</h5>
                        <span class="card-text">Author: {{post.user.username}}</span>
                        <br>
                        <small class="card-text">Posted {{moment(post.posted).fromNow()}}</small>
                        <p class="card-text">{{post.content | truncate(1000)}}</p>
                        <br>
                        
                        <div class="row" style="color: #2b3137;">
                            <div class="col-md-6">
                                <a class="card-text" href="{{url_for('main.update_post', post_id = post.id)}}">
                                    <input type="submit" class="btn btn-outline-primary" value="Update Post"></a>
                            </div>
                            <div class="col-md-6">
                                <a class="card-text" href="{{url_for('main.delete_post', post_id = post.id)}}">
                                    <input type="submit" class="btn btn-outline-primary" value="Delete Post"></a>
                            </div>
                        </div>
                        
                        <hr>
                        <h5>Comments</h5>
                        <div class="container">
                            {% for comment in comments %}
                            <p>{{comment.content}}</p>
                            <p>{{moment(comment.posted).calendar()}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}