<div class="container">
    <div class="row">
        <div class="col-md-10">
            <a href="{{url_for('main.index')}}">
                <img src="{{url_for('static',filename='images/default.png')}}" height="80px" width="100px">
            </a>
        </div>
        <div class="col-md-2">
            {% if current_user.is_authenticated %}
            <br>
            <span><a style="color: black;" href="{{url_for('main.profile', uname = current_user.username)}}">Profile</a></span>
            {% else %}
            <br>
            <span><a style="color: black;" href="{{url_for('auth.login')}}">Login</a></span>
            <span style="margin-right: 7px;"></span> | <span style="margin-right: 7px;"></span>
            <span><a style="color: black;" href="{{url_for('auth.register')}}">Register</a></span>
            {% endif %}
        </div>
    </div>
</div>